@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 14px;
    min-height: 100vh;
}

@layer base {
    ul:not(.custom) {
        @apply list-outside list-disc ml-6
    }
    li:not(.custom) {
        @apply mb-4
    }
}

@layer components {
    .btn-success {
        @apply p-2 rounded-md bg-green hover:bg-green-dark transition-colors;
    }
    .btn-danger {
        @apply bg-red p-2 rounded-xl hover:bg-red-dark transition-colors;
    }
    .btn-black {
        @apply uppercase rounded-full bg-admin-dark hover:bg-admin-light text-white transition-colors cursor-pointer px-16 py-4;
    }
}

.swiper .swiper-slide {
    width: auto;
}

@media (max-width: 540px) {
    .swiper .swiper-slide {
        width: 100%;
    }
}
